.image-container{
    /* height:50%; */
    width:50%;
    border-radius: 5px;
    box-shadow: 1;
    background-color: #8ee3f4;
    margin-right:3%;
    margin-top: 2%;
    >.image-title{
        font-weight: 800;
        color: #10284b;
        font-size: 22px;
        margin-left: 1%;
        margin-bottom: 10%;
        margin-top: 2%;
    }
    >.image{
        bottom:0;
    }
    
}